/* 

*** FONT SYSTEM ***

--- Font family ---
- Eagle Lake (Brand)
- Work Sans (Text)


*** COLORS ***
- #122620 (charcoal)

- #f4ebd0 (cream)

- #b68d40 (tan)

- #d6ad60 (gold)
-- Tints:
- #debd80
- #ebd6b0
- #efdebf

*/

/* *** GENERAL *** */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #f4ebd0;
  color: #122620;
}

.logo {
  font-family: 'Eagle Lake', cursive;
}

main {
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

/* *** SMALL SCREEN SETTINGS *** */
/* --- NAVBAR --- */
.navbar {
  background-color: #122620 !important;
}

.navbar-toggler {
  border-color: #d6ad60 !important;
  color: #d6ad60 !important;
}

.navbar-brand.logo,
.nav-link {
  color: #d6ad60 !important;
}

.nav-link:hover,
.nav-link:active {
  color: #debd80 !important;
}

/* --- Login / Register --- */
.login-box,
.register-box {
  background-color: #efdebf;
  padding: 20px 35px;
  border-radius: 24px;
  width: 320px;
}

/* --- Account Profile --- */
.container-profile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-box {
  background-color: #ebd6b0;
  width: fit-content;
  height: fit-content;
  padding: 20px 35px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-field-header {
  font-weight: 600;
}

/* *** MEDIUM SCREEN SETTINGS (768PX AND ABOVE) *** */
@media screen and (min-width: 768px) {

  /* --- Login / Register --- */
  .login-box,
  .register-box {
    width: 500px;
  }
}

/* *** LARGE SCREEN SETTINGS (992PX AND ABOVE) *** */
@media screen and (min-width: 992px) {}