/* 

*** FONT SYSTEM ***

--- Font family ---
- Eagle Lake (Brand)
- Work Sans (Text)


*** COLORS ***
- #122620 (charcoal)

- #f4ebd0 (cream)

- #b68d40 (tan)

- #d6ad60 (gold)

*/

/* *** GENERAL *** */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.logo {
  font-family: 'Eagle Lake', cursive;
}