{{#extends 'base'}}

{{#block 'subtitle'}}
Login
{{/block}}

{{#block 'content'}}

<div class="container login-box mt-5">
  <h1>Login</h1>

  <form method="post">
    {{{form}}}
    {{> csrfToken}}

    <input type="submit" value="Login" class="btn btn-primary my-3">
  </form>

</div>

{{/block}}

{{/extends}}