{{#extends 'base'}}

{{#block 'subtitle'}}
Add Product
{{/block}}

{{#block 'content'}}

<h1>Add Product</h1>

<form method="post">
  {{{form}}}
  {{> csrfToken}}
  {{> cloudinaryWidget}}
  <input type="submit" value="Add Product" class="btn btn-primary my-3">
</form>

{{/block}}

{{!-- Javascript Block --}}
{{#block 'js'}}
{{> cloudinaryWidgetJs}}
{{/block}}

{{/extends}}